.box {
    background-color: #3c3a3a;
    width: 70%;
    margin: 4rem auto;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
}

.box:hover {
    background-color: #221919;
    border: 1px solid #646cff;
}


.koleksi {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    border-bottom: 1px solid #646cff;
    padding-bottom: 0.2rem;
}

.koleksi img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}