.box {
    background-color: #3c3a3a;
    width: 70%;
    margin: 4rem auto;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
}

.box:hover {
    background-color: #221919;
    border: 1px solid #646cff;
}